<!DOCTYPE html>
<html lang="en">
<head>
  <title>Github Access</title>
  <meta charset="utf-8" />
  {% load staticfiles %}
  <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" type = "text/css"/>
  <link rel="icon" type="image/png" href="https://image.flaticon.com/icons/svg/23/23957.svg"/>
  <script type = "text/javascript" src ="https://d3js.org/d3.v4.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.min.js"></script>
</head>

<body style = "margin-bottom:50px;">
  <nav class="navbar navbar-dark bg-primary">
    <div class="navbar-brand">
    <a href="." style="text-decoration: none; color:inherit;">
      <img src = "https://image.flaticon.com/icons/svg/23/23957.svg" width = "120" height ="75" style="float: left;">
      <h1>Github Access</h1>
    </a>
	</div>
  </nav>
  <div>
    {% if messages %}
      {% for message in messages %}
        {% if 'error' in message.tags %}
          <div class='alert alert-danger'>
            {{ message| safe }}
          </div>
        {% else %}
          <div class='alert alert-{{ message.tags }}'>
            {{ message| safe }}
          </div>
        {% endif %}
      {% endfor %}
    {% endif %}
    {% block content %}
    {% endblock %}
  </div>
  </body>
</html>
