{% extends "User/header.html" %}
{% load crispy_forms_tags %}
{% block content %}
        <p>[TODO add details & instructions]</p>
    <div class ="container" style="padding-right:20px; padding-bottom:60px">
        <form method="post">
            <fieldset>
                <legend>Log In!</legend>
                {% csrf_token %}
                {{ form | crispy }}
                <input type="submit" value="Submit">
            </fieldset>
        </form>
    <div>
    <footer class="page-footer font-small pt-4">      
    <div class="footer-copyright text-center py-3">
      <b>Created by</b>: Seán Fitzpatrick
      <a href="https://mdbootstrap.com/education/bootstrap/"> fitzpas5@tcd.ie</a>
    </div>
    <div class="footer-copyright text-center">
      <b>Github</b>: SeanFitz1997
      <a href="https://mdbootstrap.com/education/bootstrap/"> https://github.com/SeanFitz1997</a>
    </div>
  </footer>
{% endblock %}