{% extends "User/header.html" %}
{% load crispy_forms_tags %}
{% block content %}
    <div class ="container" style="padding-right:20px; padding-bottom:60px">
        <div class="card m-3">
            <div class="card-header">
                <h3>About</h3>
            </div>
            <div class='card-body'>
                <p class='card-text'>This application will give you information on your skill level in various programming languages as well as a breakdown of the languages used in your repos.</p>
                <p class='card-text'>Please enter your Github login details. It will take a while for the results to render <b>(~ 1 min)</b>.</p>
            </div>
        </div>

        <form method="post">
            <fieldset>
                <legend>Log In!</legend>
                {% csrf_token %}
                {{ form | crispy }}
                <button class="btn btn-default" type="submit" >Submit</button>
            </fieldset>
        </form>
    <div>
    <footer class="page-footer font-small pt-4">      
    <div class="footer-copyright text-center py-3">
      <b>Created by</b>: Seán Fitzpatrick
      <a href="https://www.linkedin.com/in/sean-fitzpatrick-41064a138/"> fitzpas5@tcd.ie</a>
    </div>
    <div class="footer-copyright text-center">
      <b>Github</b>: SeanFitz1997
      <a href="https://github.com/SeanFitz1997"> https://github.com/SeanFitz1997</a>
    </div>
  </footer>
{% endblock %}