{% extends 'User/header.html' %}
{% block content %}
<div class='container'>
    <!-- User Bio -->
    <div class='profile card m-5'>
        <div class='profile-body'>
            <div class='profile-bio'>
                <div class='row'>
                    <div class='col-md-5 text-center'>
                        <img class='img-thumbnail md-margin-bottom-10' src='{{user_login.avatar_url}}' alt='profile pic'>
                    </div>
                    <div class='col-md-7'>
                        <h2>{{ user_login.name }}</h2>
                        <span><strong>Username:</strong> {{ user_login.login }}</span>
                        <span><strong>Location:</strong> {{ user_login.location }}</span>
                        <hr>
                        <p><strong>Bio:</strong></p>
                        <p>{{ user_login.bio }}</p>
                    </div>
                </div>    
            </div>
        </div>
    </div> 

    <!-- Total Language Bar chart -->
    <div id='languageTotals' class='card m-5'>
        <div class='card-header'>
            <h3>Language Skill Chart</h3>
        </div>
        <canvas id='total-lang-chart'></canvas>
        <div class='card-body'>
            <p class='card-text'>Some example text.</p>
        </div>
    </div>

    <!-- Repo breakdown pie chart -->
    <div>
        {% for i in range %}
            <div class='card m-3' style='float: left; width: 30rem; margin-left: auto; margin-right: auto;'>
                <div class='card-header'>
                    <h3 id='reponame-{{i}}'></h3>
                </div>
                <div class='card-body'>
                    <canvas id='repo-{{i}}'></canvas>
                </div>
            </div>
        {% endfor %}
    </div>

    <!-- User details (* Removed after extracted by js *) -->
    <table id='user_lang_info'>
        {% for key, value in user_lang_info.items %}
        <tr>
            <td class='user_lang_labels'>{{ key }}</td>
            <td class='user_lang_locs'>{{ value }}</td>
        </tr>
        {% endfor %}
    </table>
    <!-- Repo details (* Removed after extracted by js *) -->
    {% for repo in user_repo_info %}
        <table class='repo_details'>
            {% for key, value in repo.items%}
                <tr>
                    <td class='repo_lang'>{{key}}</td>
                    <td class='repo_loc'>{{value}}</td>
                </tr>
            {% endfor %}
        </table>
    {% endfor %}
         
    <script>
        //=================================================
        // User total barchart
        //=================================================
        // Extracting user total info
        var user_lang_labels = Array.from(document.getElementsByClassName('user_lang_labels'))
            .map(x => x.innerHTML)
            .slice(2);
        var user_lang_locs = Array.from(document.getElementsByClassName('user_lang_locs'))
            .map(x => x.innerHTML)
            .slice(2);
        //Remove from dom
        document.getElementById('user_lang_info').remove();
        
        var ctx = document.getElementById('total-lang-chart').getContext('2d');
        const backgroundColors = ['rgba(255, 99, 132, 0.2)','rgba(54, 162, 235, 0.2)','rgba(255, 206, 86, 0.2)',
                        'rgba(75, 192, 192, 0.2)','rgba(153, 102, 255, 0.2)','rgba(255, 159, 64, 0.2)',
                        'rgba(241, 148, 138, 0.2)', 'rgba(46, 64, 83, 0.2)', 'rgba(179, 182, 183, 0.2)'];
        const boarderColors = ['rgba(255,99,132,1)','rgba(54, 162, 235, 1)','rgba(255, 206, 86, 1)',
                        'rgba(75, 192, 192, 1)','rgba(153, 102, 255, 1)','rgba(255, 159, 64, 1)',
                        'rgba(241, 148, 138, 1)', 'rgba(46, 64, 83, 1)', 'rgba(179, 182, 183, 1)'];    
        var myChart = new Chart(ctx, {
            type: 'bar',
            data: {
                labels: user_lang_labels,
                datasets: [{
                    data: user_lang_locs,
                    backgroundColor: backgroundColors,
                    borderColor: boarderColors,
                    borderWidth: 1
                }]
            },
            options: {
                legend: { display: false },
                scales: { yAxes: [{ ticks: { beginAtZero: true } }] }
            }
        });

        //=================================================
        // Repo pie charts
        //=================================================

        var repo_details = document.getElementsByClassName('repo_details');
        Array.from(repo_details).forEach(function(repo, i){
            //extract details from each repo
            var repo_labels = Array.from(repo.getElementsByClassName('repo_lang'))
                .map(x => x.innerHTML)
                .slice(2);
            var repo_loc = Array.from(repo.getElementsByClassName('repo_loc'))
                .map(x => x.innerHTML);
            var reop_name = repo_loc[0];
            repo_loc = repo_loc.slice(2);

            //draw its pie chart
            drawRepoPieChart(`repo-${i}`, repo_labels, repo_loc);

            //set repo name
            document.getElementById(`reponame-${i}`).innerText = reop_name;
            
            //remove data from dom
            repo.remove();
        });

        function drawRepoPieChart(id, labels, data){
            var dataTotal = user_lang_locs.reduce((a, b) => a + b, 0);
            var ctx = document.getElementById(id).getContext('2d');
            var myChart = new Chart(ctx, {
            type: 'pie',
            data: {
                labels: labels,
                datasets: [{
                    data: data,
                    backgroundColor: backgroundColors,
                    borderColor: boarderColors,
                    borderWidth: 1
                }]
            },
            options: {
                tooltips: {
                    callbacks: {
                    label: function(item) {
                        return `${((data[item.index]/dataTotal)*100).toFixed(2)}%`;
                        }
                    }
                },
            },
        });

        }
    </script>
{% endblock %}