{% extends 'User/header.html' %}
{% block content %}
<div class='container'>
    <!-- User Bio -->
    <div class='profile card m-5'>
        <div class='profile-body'>
            <div class='profile-bio'>
                <div class='row'>
                    <div class='col-md-5 text-center'>
                        <img class='img-thumbnail md-margin-bottom-10' src='{{user_login.avatar_url}}' alt='profile pic'>
                    </div>
                    <div class='col-md-7'>
                        <h2>{{ user_login.name }}</h2>
                        <span><strong>Username:</strong> {{ user_login.login }}</span>
                        <span><strong>Location:</strong> {{ user_login.location }}</span>
                        <hr>
                        <p><strong>Bio:</strong></p>
                        <p>{{ user_login.bio }}</p>
                    </div>
                </div>    
            </div>
        </div>
    </div> 

    <div id='languageTotals' class='card m-5'>
        <div class='card-header'>
            <h3>Language Skill Chart</h3>
        </div>
        <canvas id='total-lang-chart'></canvas>
        <div class='card-body'>
            <p class='card-text'>Some example text.</p>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <div class="card">
                <h3 class="card-header">Test Repo 1</h3>
                <canvas id='test-graph'></canvas>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card">
                    <h3 class="card-header">Test Repo 2</h3>
                    <p>[Graph Here]</p>
                </div>
            </div>
        </div>
    </div>
    
    <script>
        //=================================================
        // User total barchart
        //=================================================
        var testlabels = ['Test1', 'Test2', 'Test3', 'Test4', 'Test5', 'Test6', 'Test7', 'Test8', 'Test9'];
        var testData = [100, 200, 300, 400, 500, 600, 700, 800, 900];
        var ctx = document.getElementById('total-lang-chart').getContext('2d');
        const backgroundColors = ['rgba(255, 99, 132, 0.2)','rgba(54, 162, 235, 0.2)','rgba(255, 206, 86, 0.2)',
                        'rgba(75, 192, 192, 0.2)','rgba(153, 102, 255, 0.2)','rgba(255, 159, 64, 0.2)',
                        'rgba(241, 148, 138, 0.2)', 'rgba(46, 64, 83, 0.2)', 'rgba(179, 182, 183, 0.2)'];
        const boarderColors = ['rgba(255,99,132,1)','rgba(54, 162, 235, 1)','rgba(255, 206, 86, 1)',
                        'rgba(75, 192, 192, 1)','rgba(153, 102, 255, 1)','rgba(255, 159, 64, 1)',
                        'rgba(241, 148, 138, 1)', 'rgba(46, 64, 83, 1)', 'rgba(179, 182, 183, 1)'];    
        var myChart = new Chart(ctx, {
            type: 'bar',
            data: {
                labels: testlabels,
                datasets: [{
                    data: testData,
                    backgroundColor: backgroundColors,
                    borderColor: boarderColors,
                    borderWidth: 1
                }]
            },
            options: {
                legend: { display: false },
                scales: { yAxes: [{ ticks: { beginAtZero: true } }] }
            }
        });

        //=================================================
        // Repo pie charts
        //=================================================
        
        drawRepoPieChart('test-graph', testlabels, testData);

        function drawRepoPieChart(id, labels, data){
            var dataTotal = data.reduce((a, b) => a + b, 0);
            var ctx = document.getElementById(id).getContext('2d');
            var myChart = new Chart(ctx, {
            type: 'pie',
            data: {
                labels: labels,
                datasets: [{
                    data: data,
                    backgroundColor: backgroundColors,
                    borderColor: boarderColors,
                    borderWidth: 1
                }]
            },
            options: {
                tooltips: {
                    callbacks: {
                    label: function(item) {
                        return `${((data[item.index]/dataTotal)*100).toFixed(2)}%`;
                        }
                    }
                },
            },
        });

        }
</script>

    <!-- Data from API (* Removed once extracted *) -->
    <table id='user_total_info'>
        {% for key, value in lang_info.items %}
        <tr>
            <td class='user_total_lang'>{{ key }}</td>
            <td class='user_total_loc'>{{ value }}</td>
        </tr>
        {% endfor %}
    </table>


    <!-- User total language chart -->
    <svg id='user_total_graph'></svg>

    <!-- Repo breakdown chart -->
    <div class='row'>
        <div class='col-sm-6'>
            <h4>Repo 1</h4>
            <svg id='test1'></svg>
        </div>
        <div class='col-sm-6'>
            <h4>Repo 2</h4>
            <svg id='test2'></svg>
        </div>
        <div class='col-sm-6'>
            <h4>Repo 3</h4>
            <svg id='test3'></svg>
        </div>
        <div class='col-sm-6'>
            <h4>Repo 4</h4>
            <svg id='test4'></svg>
        </div>
    </div>
</div>

<script>
/*
    var user_langs = Array.from(document.getElementsByClassName('user_total_lang'))
        .map(x => x.innerHTML)
        .slice(2);
    var user_locs = Array.from(document.getElementsByClassName('user_total_loc'))
        .map(x => x.innerHTML)
        .slice(3);
    console.log(user_langs, typeof(user_langs));
    console.log(user_locs, typeof(user_locs));
*/
    var user_langs = ['Test1', 'Test2', 'Test3', 'Test4', 'Test5'];
    var user_locs = [100, 200, 300, 400, 500];

    //=================================================
    // User total barchart
    //=================================================
    var colors = ['#E74C3C', '#A569BD', '#5DADE2', '#52BE80',
        '#F7DC6F', '#F39C12', '#DC7633', '#BDC3C7', '#5D6D7E'];
    var barHeight = 40;
    var barBuffer = 10;
    var maxItem = Math.max(...user_locs);
    var chartWidth = 600;
    var labelWidth = 100;
    var height = ((barHeight * user_locs.length) + (barBuffer * (user_locs.length - 1)));
    
    var svg = d3.select('#user_total_graph')
        .attr('width', labelWidth + chartWidth).attr('height', height);

    //Define tooltip
    var tooltip = d3.select('body')
        .append('div')
        .style('position', 'absolute')
        .style('z-index', '10')
        .style('visibility', 'hidden')
        .style('background-color' , '#A6ACAF');

    // chart background
    svg.append('rect')
        .attr('x', labelWidth)
        .attr('width', labelWidth + chartWidth) 
        .attr('height', height)
        .style('fill', '#FFFFFF');
        
    // position bars
    var bar = svg.selectAll('g') 
        .data(user_locs)
        .enter()
        .append('g')
        .attr('transform', function(d, i) {
            return `translate(${0}, ${((i * barHeight) + (barBuffer * i))} )`});
        
    // draw background bars
    bar.append('rect')
        .attr('width', chartWidth)
        .attr('height', barHeight)
        .attr('x', labelWidth)
        .attr('rx', 5)
        .attr('ry', 5)
        .style('fill', '#F1F1F1');

    // draw bars
    bar.append('rect')
        .attr('x', labelWidth)
        .attr('width', function(d) {
            return (d /maxItem) * chartWidth;
        })
        .attr('height', barHeight)
        .attr('rx', 5)
        .attr('ry', 5)
        .style('fill', function(d, i){ return colors[i]})
        .on('mouseover', function(d){ 
            tooltip.style('visibility', 'visible');
            tooltip.text(`${d} L.O.C.`); })
        .on('mousemove', function(){return tooltip.style('top', 
            (d3.event.pageY-10)+'px').style('left',(d3.event.pageX+10)+'px');})
        .on('mouseout', function(){return tooltip.style('visibility', 'hidden');});

    // draw labelback grounds
    bar.append('rect')
        .attr('width', labelWidth - barBuffer)
        .attr('height', barHeight)
        .attr('rx', 5)
        .attr('ry', 5)
        .style('fill', '#FFFFFF')
        .style('stroke', '#000000');
        
    // draw labels
    bar.append('text')
        .attr('x', labelWidth / 3.5)
        .attr('y', barHeight / 2)
        .attr('dy', '.35em')
        .attr('font-family', 'arial')
        .attr('font-size', '15px')
        .text(function(_, i) { return user_langs[i]; });

    //=================================================
    // Repo pie charts
    //=================================================
    const testRepos = ['test1', 'test2', 'test3', 'test4'];
    testRepos.forEach(function(item){
        drawRepoPieChart(item, user_langs, user_locs)
    });

    function drawRepoPieChart(name, label, data){
        var width = 400, height = 400, radius = Math.min(width, height) / 2;
        var dataTotal = data.reduce((a, b) => a + b, 0);

        var tooltip = d3.select('body')
            .append('div')
            .style('position', 'absolute')
            .style('z-index', '10')
            .style('visibility', 'hidden')
            .style('background-color' , '#A6ACAF');

        var arc = d3.arc()
            .outerRadius(radius)
            .innerRadius(0);

        var labelArc = d3.arc()
            .outerRadius(radius * 0.8)
            .innerRadius(radius * 0.8);

        var pie = d3.pie()
            .sort(null)
            .value(function(d) { return d; });

        var svg = d3.select(`#${name}`)
            .attr('width', width)
            .attr('height', height)
            .append('g')
            .attr('transform', `translate(${width/2}, ${height/2})`);

        var g = svg.selectAll('.arc')
            .data(pie(data))
            .enter()
            .append('g')
            .attr('class', 'arc');

        g.append('path')
            .attr('d', arc)
            .style('fill', function(_,i) { return colors[i]; })
            .on('mouseover', function(_,i){ 
                tooltip.style('visibility', 'visible');
                tooltip.text(`${((data[i]/dataTotal)*100).toFixed(2)}%`);})
            .on('mousemove', function(){return tooltip.style('top', 
                (d3.event.pageY-10)+'px').style('left',(d3.event.pageX+10)+'px');})
            .on('mouseout', function(){return tooltip.style('visibility', 'hidden');});

        g.append('text')
            .attr('transform', function(d) { return `translate(${labelArc.centroid(d)})`; })
            .attr('dy', '.35em')
            .text(function(_,i) { return label[i]; });
    }
</script>
{% endblock %}